.postPage {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  height: calc(100vh - 2.5em);
  width: 100%;
}

#post {
  max-height: 90%;
  flex: 50%;
  margin-left: 1rem;
}

#post:hover {
  box-shadow: none;
  cursor: default;
}

.commentSection {
  flex: 50%;
  height: 90%;
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  background-color: #91989e;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  overflow: hidden;
}

.commentsArea {
  flex: 92%;
  overflow-y: auto;
  height: 100%;
  width: 100%;
}

.addCommentContainer {
  display: flex;
  gap: 0.5rem;
  padding: 10px 10px;
  width: 100%;
  flex: 8%;
  
}

.addCommentContainer input {
  flex: 80%;
  padding: 0 5px 0 5px;
  margin-left: 10px;
  max-height: 200px;
  border-radius: 5px;
  border-style: solid;
  border-color: rgb(175, 175, 175);
}

.addCommentContainer button {
  flex: 20%;
  margin-right: 10px;
  border-radius: 5px;
  border-style: solid;
  border-color: #188bd3;
  background-color: #188bd3;
  color: white;
}

@media (max-width: 700px) {
  .postPage {
    flex-direction: column;
  }
  #post {
    margin-left: 0;
  }
  .commentSection {
    width: 95%;
    margin-right: 0;
    margin-bottom: 0.5rem;
    height: 60%;
  }
}
